.logo {
  margin-top: 0.5rem;
}

.jumbotron {
  background-color: #fba75b;
  font-family: "Baloo 2", "Open Sans", sans-serif;
}

body {
  background-color: #f0f7f0;
  font-family: "Baloo 2", "Open Sans", sans-serif;
  color: black;
}

#aboutusheading {
  font-size: 4rem;
}

p {
  font-family: "Open Sans", sans-serif;
}

footer a {
  color: #324443;
}

#menu a {
  color: #324443;
}

a:link {
  font-size: 130%;
}

.menucard {
  background-color: #f0f7f1;
  border: none;
}

.menucardtitle {
  font-size: 1.25em;
}

.maincard {
  border: none;
  background-color: #fba75b;
}

.card-deck > .card:hover {
  border-color: black;
  box-shadow: 0 0 2rem black;
}

.maincardtitle {
  color: white;
  text-shadow: 1px 1px #333;
}

#chefcard {
  flex-direction: row;
  background-color: rgb(251, 167, 91);
}

#chefcard img {
  width: 50%;
}

.card-img-top {
  height: 30vw;
  object-fit: cover;
}

.bgimage {
  width: 100%;
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1559314809-0d155014e29e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#lowerhero {
  background-image: url("https://images.unsplash.com/photo-1455619452474-d2be8b1e70cd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
  height: 100vh;
}

footer {
  background-color: #fba75b;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 2px 2px #333;
}

.btn {
  background-color: #ca615c;
  border: 1px solid black;
  color: white;
}

#homepagetable {
  color: white;
  text-shadow: 1px 1px #333;
}

.regularheadings {
  color: black;
}

#hours {
  border-top: none;
  font-size: 2rem;
}

.menuheadings {
  border-bottom: 1px solid black;
  margin-bottom: 3rem;
  margin-top: 4rem;
}

.lowerhero {
  width: 100%;
}

.socialbtn {
  background-color: #324443;
  border: none;
  margin-right: 0.25rem;
}

.carousel-item {
  overflow: hidden;
}
.carousel-item img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

#aboutus {
  background-color: #333;
  margin-bottom: -3rem;
}

#aboutuscard {
  background-color: #333;
  color: white;
}

#bangkoklink {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
}

.orderlink {
  color: white;
}

.orderlink:hover {
  color:rgb(251, 167, 91);
}

Form {
  justify-content: center;
}

.page-enter {
  opacity: 0;
}

.page-enter-active {
  opacity: 1;
  transition: 300ms ease-out;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: 300ms ease-in;
}

.page-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: 300ms ease-out;
}

.cartrow {
  background-color: #333;
}

.cartbutton {
  font-size: 1.25rem;
}

.removebutton {
  background-color: #333
}
